body {
    margin: 0px auto;
    background: #e5e5e5;
}

/* Layout */
.container {
	margin: 5px 5px 5px;
}
.widget {
  background: #ffffff;
}
.widget.lock {
  width: 200px;
  height: 150px;
}
.widget.status {
  width: 200px;
  height: 150px;
}
.widget.gps {
  width: 250px;
  height: 150px;
}
.widget.acceleration {
  width: 250px;
  height: 150px;
}
.widget.zroll_graph {
  width: 695px;
  height: 350px;
}

ok{
  color:green;
}
ohno{
  color:red;
}

svg {
  font: 10px sans-serif;
  margin: 0px 5px 10px;
}
.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}
.area {
  fill: none;
  stroke-width: 0;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
