body {
    margin: 0px auto;
    background: #e5e5e5;
}

/* Layout */
.container {
	margin: 5px 5px 5px;
}
.widget {
  background: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.widget.lock {
  width: 250px;
  height: 125px;
}
value{
  font-family: "Andale Mono", AndaleMono, Consolas, monaco, "Lucida Console", "Lucida Sans Typewriter", monospace;
}

ok{
  color:green;
}
ohno{
  color:red;
}

svg {
  font: 10px sans-serif;
  margin: 0px 5px 10px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
